.page {
    background: #FFF;
    display: grid;
    align-items: center;
    color: var(--black);
    padding: 3.5em 0;
    height: 100vh;
    justify-content: center;
}

.about--title {
    font-size: 4.236em;
    text-align: center;
}

.align-center {
    grid-column: 2;
}

.about--welcome,
.about--pres {
    font-size: 1.563em;
}

.about--call {
    font-family: 'Libre Franklin';
    font-size: 1.563em;
    color: var(--accent);
    font-weight: 400;
}
