.page {
    background: #FFF;
    display: grid;
    grid-template-columns: 1fr 1100px 1fr;
    align-items: center;
    color: var(--black);
    padding: 3.5em 0;
}

.align-center {
    grid-column: 2;
}

.about--welcome,
.about--pres {
    font-size: 1.563em;
}

.about--call {
    grid-column: 2;
}