.page {
    background: #FFF;
    display: flex;
    align-items: center;
    color: var(--black);
    padding: 3.5em 0;
    min-height: 100vh;
    justify-content: center;
}

.about--title {
    font-size: 4.236em;
    text-align: center;
}

.align-center {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.about--welcome,
.about--pres {
    font-size: 1.563em;
}

.light--gray {
    color: var(--lighterGray);
}

.about--call {
    font-family: 'Libre Franklin';
    font-size: 1.563em;
    color: var(--accent);
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    padding: 1.5em 0 0 0;
}

.about--btn {
    padding: 0.5em 2em;
    border: none; 
    font-size: 1.5em;
    text-transform: uppercase;
    background: var(--accent);
    color: #FFF;
    margin: 0 auto;
    align-self: center;
}

.about--btn:hover {
    box-shadow: 0 20px 80px 0 rgba(0,0,0,.45);
    cursor: pointer;
    background: #FFF;
    color: var(--accent);
}
