@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Franklin');

.header--container {
    grid-column: 1 / -1;
    display: grid;
    height: 100vh;
    background: var(--lightGray);
    color: var(--black);
}

.header--nav {
    color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header--items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    grid-column: 3 / -1;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.25em;
}

.header--item {
    padding-right: 30px;
    color: var(--black);
    opacity: 0.5;
}

.header--item.active {
    opacity: 1;
}

.accent--color {
    color: var(--accent);
}

.inline {
    display: inline-block;
}

.header--seo-title {
    display: inline;
}

.header--hello,
.header--hello-name {
    font-family: 'Abril Fatface', cursive;
}

.header--hello-name {
    margin: 0;
    color: var(--black);
}

.header--main {
    grid-column: 4;
    grid-row: 3;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
}

.header--logo {
    width: 70px;
}

.logo--home {
    padding: 0;
}

.header--hello {
    margin: 0;
    color: var(--black);
}

.header--pres > p,
.header--contact > p {
    color: var(--black);
    font-size: 1.5em;
}

.header--seo-title {
    font-size: 1em;
    font-family: 'Libre Franklin', sans-serif;
}

.cls-1 {
    fill: var(--black);
}

.cls-2 {
    fill: var(--lightGray);
}

.arrow {
  fill: var(--lighterGray);
  align-self: flex-end;
}

@media screen and (max-width: 1000px) {
    .header--nav {
        flex-direction: column;
        justify-content: center;
    }
    .header--logo {
        width: 55px;
    }
}

