.selected--container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0;
}

.selected--page {
    grid-column: 4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5em 0;
}

.selected--img {
    width: 800px;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 20px 80px 0 rgba(0,0,0,.45);
}

.selected--title {
    margin-bottom: 0;
    padding: 2em 0 0 0;
}

.selected--sub {
    font-size: 1.5em;
    padding: .5em 0 1.5em;
}

.selected--case {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 1em;
    line-height: 1.42857143;
}

.case-two {
    background: #FFF;
}

.case-one {
    background: var(--lightGreen);
}

.selected--btn {
    padding: 0.5em 2em;
    border: none; 
    font-size: 1.5em;
    text-transform: uppercase;
}

.selected--btn:hover {
    box-shadow: 0 20px 80px 0 rgba(0,0,0,.45);
    cursor: pointer;
}

.case-one .selected--btn {
    background: #8396A4;
    color: #FFF;
}

.case-one .selected--btn:hover {
    background: #FFF;
    color:#8396A4;
}

.case-two .selected--btn {
    background: var(--black);
    color: #FFF;
}

.case-two .selected--btn:hover {
    background: #FFF;
    color: var(--black);
}

.case-three .selected--btn {
    background: #A69696;
    color: #FFF;
}

.case-three .selected--btn:hover {
    background: #FFF;
    color:#A69696;
}

@media screen and (max-width: 830px) {
    .selected--img {
        width: calc(100vw - 50px);
        height: auto;
    }
}