:root {
  --black: #1A191B;
  --lightPink: #F1DED4;
  --blue: #7091B1;
  --lighter: #D7D5C2;
  --lightGray: #F3F3F3;
  --lighterGray: #aaa9a3;
  --sand: #D4D4D4;
  --lightGreen: #D8E6F1;
  --lightBlue: #E6F7DF; 
  --accent: #FF7A69
}

@import url("https://use.typekit.net/tgj3efo.css");

/** GENERAL **/

body {
  background-color: var(--lightGray);
  font-family: adobe-garamond-pro, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}


.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header--container,
.services--container,
.selected--case-studies,
.about {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.header--container > *,
.services--container > *,
.about > * {
  grid-column: 2;
}

.selected--container {
  grid-column: 1 / -1;
  padding: 2em 0;
}
.arrow {
  width: 50px;
}

.arrow-container {
  text-align: center;
}

/** Fonts **/

h1,
h2,
h3,
h4 {
  font-family: adobe-garamond-pro, serif;
}

h1 {
  font-size: 6.854em;
}

h2 {
  font-size: 4.236em;
}

h3 {
  font-size: 2.618em;
}

p {
  font-size: 1em;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.7;
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 4.854em;
  }
  
  h2 {
    font-size: 2.236em;
  }
  
  h3 {
    font-size: 1.618em;
  }
  
  p {
    font-size: 1.25em;
  }
}